:root {
  --fontscreensize: clamp(0.7em, 1vw, 1em);
  --_25xfont: calc(0.25 * var(--fontscreensize));
  --_5xfont: calc(0.5 * var(--fontscreensize));
  --_75xfont: calc(0.75 * var(--fontscreensize));
  --_85xfont: calc(0.85 * var(--fontscreensize));
  --_95xfont: calc(0.95 * var(--fontscreensize));
  --1xfont: calc(1 * var(--fontscreensize));
  --1_25xfont: calc(1.25 * var(--fontscreensize));  
  --1_5xfont: calc(1.5 * var(--fontscreensize));  
  --1_75xfont: calc(1.75 * var(--fontscreensize));    
  --2xfont: calc(2 * var(--fontscreensize));
  --2_5xfont: calc(2.5 * var(--fontscreensize));
  --3xfont: calc(3 * var(--fontscreensize));
  --4xfont: calc(4 * var(--fontscreensize));
  --5xfont: calc(5 * var(--fontscreensize));
  --6xfont: calc(6 * var(--fontscreensize));
  --7xfont: calc(7 * var(--fontscreensize));
  --8xfont: calc(8 * var(--fontscreensize));
  --9xfont: calc(9 * var(--fontscreensize));
  --10xfont: calc(10 * var(--fontscreensize));
}

html {
  display: flex;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: var(--1xfont);
  width: 100%;
  height: 100%;
  font-family: system-ui;
  text-rendering: optimizelegibility;
}

head {
  display: flex;
  border: 0;
  margin: 0;
  padding: 0;
  width: 0%;
  height: 0%;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: hsl(207deg 86% 83%);
}

.application {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: var(--_75xfont);
  margin: auto var(--1xfont) auto var(--1xfont);
  background-color: hsl(200, 18%, 46%);
  box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 20%);
}

.chat_div {
  display: flex;
  flex-grow: 4;
  flex-wrap: wrap;
  padding: var(--1xfont);
  flex-direction: column;
  background-color: hsl(0deg 0% 97% / 70%);
  box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 20%);
}

.title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  padding: 0 var(--1xfont) 0 var(--1xfont);
  align-content: center;
  /* line-height: 0.1em; */
  box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 20%);
  background: hsl(14, 100%, 57%);
}

.title_txt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: var(--1xfont);
  color: hsl(0deg 0% 0% / 62%);
  font-weight: 700;
}

.mobnum_div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: var(--_5xfont) 0 var(--_5xfont) 0;
}

.message_div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: var(--_5xfont) 0% var(--_5xfont) 0%;
}

.sendbtn_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.status_msg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: var(--1xfont) 0% var(--_5xfont) 0%;
}

.label_text {
  font-weight: 600;
  font-size: var(--1xfont);
  padding: var(--_5xfont) 0 var(--1xfont);
  margin: 0;
  color: #d8dde4;
}

.mobnum_ip_val {
  font-weight: 600;
  font-size: var(--1xfont);
  min-height: var(--1xfont);
}

.msg_ip_msg {
  border: 0;
  padding: 0;
  font-size: var(--1xfont);
  font-style: italic;
  font-family: "Segoe UI";
}

.msg_ip_btn {
  font-size: var(--1xfont);
  font-weight: 600;
  padding: var(--_75xfont) var(--1xfont) var(--_75xfont) var(--1xfont);
  margin: var(--_5xfont) 0 var(--_5xfont) 0;
  border: 0;
  box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 20%);
  background: hsl(14, 94%, 80%);
}

.msg_ip_btn:hover {
  /* box-shadow: inset 0px 0px 3px 2px hsla(0, 0%, 0%, 0.2); */
  background: hsl(14, 94%, 70%);
}
.msg_ip_btn:active {
  /* box-shadow: inset 0px 0px 3px 3px hsla(0, 0%, 0%, 0.2); */
  background: hsl(14, 94%, 55%);
}

.chat_label {
  font-weight: bold;
  font-size: var(--1_25xfont);
  padding: var(--_5xfont) 0 var(--1xfont);
  margin: 0;
  color: hsl(0deg 0% 0% / 62%);
  text-align: center;
}

.chat {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: hsl(40deg 68% 49% / 10%);
  font-family: "Segoe UI";
  font-size: var(--_85xfont);
}

.chat_messages {
  margin: var(--_25xfont) var(--_25xfont) 0 var(--_25xfont);
  padding: var(--_25xfont) var(--_25xfont) var(--_25xfont) var(--_25xfont);
  background-color: hsl(100, 100%, 100%);
}
