body{
margin: 1%;
}

.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    width: 100%;
}

.mobnum_div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0% 1% 0%;
    width: 100%;
}

.message_div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1% 0% 1% 0%;
    width: 100%;
}

.sendbtn_div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1% 0% 1% 0%;
}

.status_msg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5% 0% 5% 0%;
}

.status_text{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    width: 100%;
}

.mobnum_ip_txt{
    font-size: small;
    font-weight: 600;
    margin: 0%;
}

.mobnum_ip_val{
    font-size: small;
    font-weight: lighter;
}

.msg_ip_txt_div{
    font-size: small;
    font-weight: lighter;
}

.msg_ip_msg_div{
    font-size: small;
    width: 100%;
}

.msg_ip_btn{
    font-weight: bolder;
    font-size: small;
}

.msg_ip_txt{
    font-size: small;
    font-weight: 600;
    margin: 0%;
}
.msg_ip_msg{
    font-size: small;   
    font-weight: lighter;
    margin: 0%;
    width: -webkit-fill-available;
}